*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    padding: 2rem 0;
}

table{
    width: 100%;
}
td{
    padding-left: 1.3rem;
}
a{
    text-decoration: none;
}
.table-heading{
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.container{
    width: 60%;
    margin: 0 auto;
}
.cv-description h2{
font-size: 2rem;
padding: 1rem 0;
}
.cv-description h4{
    padding-bottom: 0.5rem;
    font-weight: 600;
}
.cv-image{
    width: 15%;
    padding: 3rem;
}
.cv-image img{
    width: 200px;
}
.cv-description{
    width: 55%;
    padding: 3rem;
}
.cv-contact-info{
    width: 25%;
    padding: 3rem;
}
.qualification{
    width: 80%;
    margin: auto;
}
.cv-title{
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}
.p-info-h{
font-weight: 900;
font-size: 1.1rem;
}

footer{
    text-align: center;
}
